/swig/Box2D_wrap.cxx
/work/
*.ipa
swig/*_wrap.*
Flurry-iOS-4.4.0
ProjectApiKey.txt
/API_TOKEN
/TEAM_TOKEN
/*.mobileprovision
/testflight_result.json
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
Pods/
